{% extends 'customers/customer_list.html' %}

{% block title %}Customer Details{% endblock %}

{% block content %}
    <h2>Customer Details: {{ customer.first_name }} {{ customer.last_name }}</h2>

    <div>
        <strong>First Name:</strong> {{ customer.first_name }}<br>
        <strong>Last Name:</strong> {{ customer.last_name }}<br>
        <strong>Email:</strong> {{ customer.email }}<br>
        <strong>Phone Number:</strong> {{ customer.phone_number }}<br>
        <strong>Address:</strong> {{ customer.address }}<br>
        <strong>City:</strong> {{ customer.city }}<br>
        <strong>State:</strong> {{ customer.state }}<br>
        <strong>Zip Code:</strong> {{ customer.zip_code }}<br>
    </div>

    <div>
        <a href="{% url 'customer_edit' customer.id %}">Edit Customer</a> | 
        <a href="{% url 'customer_delete' customer.id %}">Delete Customer</a>
    </div>
{% endblock %}
