{% extends 'salespeople/salespeople_list.html' %}

{% block title %}Salespeople Details{% endblock %}

{% block content %}
    <h2>Salespeople Details: {{ salespeople.first_name }} {{ salespeople.last_name }}</h2>

    <div>
        <strong>First Name:</strong> {{ salespeople.first_name }}<br>
        <strong>Last Name:</strong> {{ salespeople.last_name }}<br>
        <strong>Email:</strong> {{ salespeople.email }}<br>
        <strong>Phone Number:</strong> {{ salespeople.phone_number }}<br>
    </div>

    <!-- Cars Sold Section -->
    <div>
        <h3>Cars Sold</h3>
        <ul>
            {% for car in salespeople.sold_cars.all %}
                <li>{{car.vin}}  {{ car.make }} {{ car.model }} - {{ car.year }} - {{car.price}} - Commission: ${{ car.calculate_commission }}</li>
            {% empty %}
                <li>No cars sold.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Customers Section -->
    <div>
        <h3>Customers</h3>
        {% if salespeople.customers.all %}
            <ul>
                {% for customer in salespeople.customers.all %}
                    <li>{{ customer.first_name }} {{ customer.last_name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No customers.</p>
        {% endif %}
    </div>

    <div>
        <a href="{% url 'salespeople_edit' salespeople.id %}">Edit Salesperson</a> | 
        <a href="{% url 'salespeople_delete' salespeople.id %}">Delete Salesperson</a>
    </div>
{% endblock %}

