{% extends 'salespeople/salespeople_list.html' %}

{% load humanize %}

{% load custom_filters %}

{% block title %}Salespeople Details{% endblock %}

{% block content %}
    <div class="container">
    
        <h2>Salesperson: {{ salespeople.first_name }} {{ salespeople.last_name }}</h2>

        <div class="border-2">
            <strong>First Name:</strong> {{ salespeople.first_name }}<br>
            <strong>Last Name:</strong> {{ salespeople.last_name }}<br>
            <strong>Email:</strong> {{ salespeople.email }}<br>
            <strong>Phone Number:</strong> {{ salespeople.phone_number|format_phone }}<br>
            <!-- total commision -->
            <strong>Total Commission:</strong> 
            {% if salespeople.total_commission %}
                <strong class="text-success">${{ salespeople.total_commission|floatformat:2|intcomma }}</strong>
            {% else %}
                <strong class="text-danger">No commission earned yet.</strong>
            {% endif %}<br>
            
        </div>

        <!-- Cars Sold Section -->
        <div >
            <h3 class="mt-3">Sales</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>VIN</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Price</th>
                        <th>Commission</th> 
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in salespeople.sold_cars.all %}
                    <tr>
                        <td>{{ car.vin }}</td>
                        <td>{{ car.make }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.year }}</td>
                        <td>${{ car.formatted_price }}</td>
                        <td>${{ car.calculate_commission|floatformat:2|intcomma }}</td> 
                        <td>
                            <a href="{% url 'car_edit' car.id %}" class="btn btn-primary">Edit</a> 
                            <a href="{% url 'car_detail' car.id %}" class="btn btn-success">View</a> 
                            <a href="{% url 'mark_car_not_sold' car.id %}" class="btn btn-warning">Mark as Not Sold</a>
                            <!-- <a href="{% url 'car_delete' car.id %}" class="btn btn-danger">Delete</a> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="d-flex justify-content-between">
            <div>
                <a href="{% url 'salespeople_edit' salespeople.id %}" class="btn btn-primary">Edit Salesperson</a> 
                <a href="{% url 'salespeople_delete' salespeople.id %}" class="btn btn-danger">Delete Salesperson</a>
            </div>
            <div class="d-flex">
                <a href="{% url 'salespeople_list' %}" class="btn btn-secondary">Back to Salespeople List</a>
            </div>
        </div>
    </div>
{% endblock %}