{% extends 'salespeople/salespeople_list.html' %}

{% block content %}
    <h2>{% if salespeople %}Edit{% else %}Add{% endif %} Salespeople</h2>

    <form method="post">
        {% csrf_token %}
        
        <p>
            {{ form.first_name.label_tag }}<br>
            {{ form.first_name }}
        </p>
        <p>
            {{ form.last_name.label_tag }}<br>
            {{ form.last_name }}
        </p>
        <p>
            {{ form.email.label_tag }}<br>
            {{ form.email }}
        </p>
        <p>
            {{ form.phone_number.label_tag }}<br>
            {{ form.phone_number }}
        </p>
        <!-- Add other fields here as needed -->
        
        <button type="submit">Save</button>
    </form>

    {% if salespeople %}
        <a href="{% url 'salespeople_delete' salespeople.id %}">Delete this salesperson</a>
    {% endif %}
{% endblock %}


