{% extends "cars/car_list.html" %}

{% block content %}
  <!-- Detail view content goes here -->
  <div class="car-detail">
    <h2>Car Details</h2>
    <p><strong>VIN:</strong> {{ car.vin }}</p>
    <p><strong>Make:</strong> {{ car.make }}</p>
    <p><strong>Model:</strong> {{ car.model }}</p>
    <p><strong>Year:</strong> {{ car.year }}</p>
    <p><strong>Color:</strong> {{ car.color }}</p>
    <p><strong>Price:</strong> {{ car.price }}</p>
    <p><strong>Mileage:</strong> {{ car.mileage }}</p>
    <p><strong>Sold:</strong> {{ car.sold }}</p>
    <p><strong>Date Sold:</strong> {{ car.date_sold }}</p>
    {% if car.salesperson %}
      <p><strong>Salesperson:</strong> 
        <a href="{% url 'salespeople_detail' car.salesperson.id %}">
          {{ car.salesperson.first_name }} {{ car.salesperson.last_name}}
        </a>
      </p>
    {% endif %}
    <p><strong>Type:</strong> {{ car.get_car_type_display }}</p> <!-- Added line for car type -->

    <a href="{% url 'car_edit' car.id %}">Edit</a> |
    <a href="{% url 'car_delete' car.id %}">Delete</a> |
    <a href="{% url 'car_list' %}">Back to List</a>
  </div>
{% endblock %}

