{% extends "cars/car_list.html" %}

{% block content %}
  <div class="car-delete-confirmation">
    <h2>Delete Car</h2>
    <p>Are you sure you want to delete "{{ object }}"?</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes, delete</button>
      {% url 'car_list' as car_list_url %}
      {% if request.path == car_list_url %}
        <a href="{{ car_list_url }}" class="btn btn-secondary">Cancel</a>
      {% else %}
        <a href="{% url 'car_detail' object.id %}" class="btn btn-secondary">Cancel</a>
      {% endif %}
      
      <!-- <a href="{% url 'car_detail' object.id %}" class="btn btn-secondary">Cancel</a> -->
    </form>
  </div>
{% endblock %}
