{% extends "cars/base.html" %} {% load static %}{% block title %} Car Dealership
{% endblock%} {% block content%}
<div class="container text-light text-center my-xxl-5  pt-xxl-5 fst-italic">
    <div class="d-flex justify-content-around align-content-center pt-xxl-5">
        <h1 style="font-size: 120px; margin: 75px auto;">Car Dealership </h1>
    </div>
    <div class="d-flex justify-content-around align-content-center">
        <h2>An inventory and sales management system</h2>
    </div>
</div>
{% endblock %} {% block jsfiles %} {% endblock jsfiles %}