{% extends "cars/base.html" %} 
{% load static %}
{% block title %} Car Dealership {% endblock%} 

{% block content%}
    <div class="container-flex text-light text-center my-5 my-md-1 p-3 py-md-0">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 my-2 mb-5 title-holder">
                <h1 class="display-1 title">Car Dealership</h1>
                <h3 class="title">An inventory and sales management system</h3>
            </div>
            <div class="col-12 col-md-8 p-0 my-5">
                <img src="{% static 'images/car-home.svg' %}" alt="Car Dealership" class="img-fluid">
            </div>
        </div>
    </div>

{% endblock %} 
{% block jsfiles %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('current-year').textContent = new Date().getFullYear();
        });
    </script>
{% endblock jsfiles %}